<!------------------------------------------------------------------
Template : Base Template. Other templates extend this HTML document
         : Open Source Code for JQUERY and Bootstrap goes here.
         : Credit: https://adminlte.io/
-------------------------------------------------------------------->
{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <span class="brand-text font-weight-light">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SPESys 2.0</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{request.user.get_url}}"  class="img-circle elevation-1" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{request.user.full_name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class ="nav-item">
            <a href="/get_profile" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                My Profile<br>
              </p>
            </a>
          </li>
          <li class ="nav-item">
            <a href="/add_students" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Students
              </p>
            </a>
          </li>
          <li class ="nav-item">
            <a href="/add_team" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Teams
              </p>
            </a>
          </li>
          <li class ="nav-item">
            <a href="/add_form" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                My Forms
              </p>
            </a>
          </li>
          <li class ="nav-item">
            <a href="/view_response" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
                View Responses
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
